*{
margin:0;
padding: 0;
box-sizing: border-box;
}
body{
    background: linear-gradient(rgb(231, 132, 132),rgb(241, 184, 76)
    );margin: 40px;
}
h1 {
    text-align: center;
    background: linear-gradient(to left, red, rgb(4, 0, 255));
}
.perfil {
    max-width: 200px;
     border: solid ;
     border-color: aqua;

}
h2 {
    color: rgb(127, 255, 244);
}
h3 {
    color: blue;
}


input[type="text"], input [type="email"]
{
    min-width: 100%;
    min-height: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px red;
}
input[type="text"]:hover, input[type="email"]:hover {
    border: 2px rgb(214, 23, 23) solid;
    box-shadow: 5px 5px 10px green;
}
.button {background-color: #4CAF50 COLOR;
     WHITE;PADDING: 15PX 32PX;
      text-align: center;text-decoration: none;
       DISPLAY: inline-blok;
        font-size: 16px;margin: 4px 2px;
         cursor: pointer}

.button:hover{
    border: #555 2px solid;
    box-shadow: 5px 5px 5px #555;
    color: red
}
table {border-collapse: collapse;
width: 100%;}
td, th {border: 1px solid black; 
    text-align: left;
    padding: 8px}